<a href="https://colab.research.google.com/github/JayeshDabholkar/Python_Functions/blob/main/Python__Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Make_Tea
def Make_Tea() :
  print("Boil some milk")
  print("Add sugar and tea leaves")
  print("Add some milk")
  print("Heat for a few mins")

In [3]:
Make_Tea()

Boil some milk
Add sugar and tea leaves
Add some milk
Heat for a few mins

In [5]:
def sum() :
  x = int(input())
  y = int(input())
  print(x+y)

sum()

70
30
100

In [6]:
def voldy(horcrux1, horcrux2, horcrux3, horcrux4):
    print(horcrux3)
    print(horcrux1)
    print(horcrux4)
    print(horcrux2)

voldy("Hufflepuff's Cup", "Harry Potter", "Tom Riddle's Diary", "Ravenclaw's Diadem")

Tom Riddle's Diary
Hufflepuff's Cup
Ravenclaw's Diadem
Harry Potter

In [7]:
# Write a function which takes one number as argument and prints its square.
def square(x) :
  print(x**2)

x = int(input())
square(x)

22
484

In [8]:
def square(x) :
  return x**2

def pythagoras(x, y) :
  return square(x)+square(y)

sum = pythagoras(3, 4)
print(sum)

25

In [9]:
a = 10

def calculator(number):
    print(number * 10)

calculator(a)
print(a)

100
10

In [10]:
def power(number,exponent):
    return number**exponent

print(power(3, 2))

9

In [1]:
# Keyword argument

def introduce_family(me, father, mother, sibling):
  print("Me = ", me)
  print("Father =", father)
  print("Mother =", mother)
  print("Sibling =", sibling)
introduce_family("Arthur", "Ginny", "Molly", "Ron")

Me =  Arthur
Father = Ginny
Mother = Molly
Sibling = Ron

In [2]:
introduce_family(father="Arthur", sibling="Ginny", mother="Molly", me="Ron")

Me =  Ron
Father = Arthur
Mother = Molly
Sibling = Ginny

In [3]:
# Date Printing

# Create a date printing function which 
# takes in 4 arguments : date, month, year, style

# Style 0 -> d/m/y
# Style 1 -> m/d/y
# Default style is 0

def print_date(date, month, year, style=0) :
    if style == 0 :
      print(date, month, year, sep='/')
    elif style == 1 :
      print(month, date, year, sep='/')
    else :
      print("Incorrect style")

In [5]:
print_date(27, 6, 1999)

27/6/1999

In [6]:
print_date("27","06", "1999")

27/06/1999

In [8]:
print_date(7, 6, 1999, 1)

6/7/1999

In [9]:
print_date(27, 6, 1999, 3)

Incorrect style

In [10]:
# scope of variable - region within which a variable can be used

# global variable
chief_of_house = "mother"

def change_chief():
    # local variable
    chief_of_house = "father"
    print("Inside the function -", chief_of_house)
    
    
change_chief()
print("Outside the function -", chief_of_house)

Inside the function - father
Outside the function - mother

In [13]:
# global variable
chief_of_house = "mother"

def change_chief():
    global chief_of_house
    chief_of_house = "father"
    print("Inside the function -", chief_of_house)
    
    
change_chief()
print("Outside the function -", chief_of_house)

Inside the function - father
Outside the function - father